<h3>普通样式</h3>
var data = 1;
<h3>以javascript高亮显示</h3>
<span ngxPrismjs ngLanguage="javascript">var data = 1;</span>
<code ngxPrismjs ngLanguage="javascript">var data = 1;</code>
<pre ngxPrismjs ngLanguage="javascript">var data = 1;</pre>
<pre><code ngxPrismjs ngLanguage="javascript">var data = 1;</code></pre>
<h3>以css高亮显示</h3>
<div ngxPrismjs ngLanguage="css">
    {{cssContent}}
</div>
<pre ngxPrismjs ngLanguage="css"><code>{{cssContent}}</code></pre>
<h3>以scss高亮显示</h3>
<pre>
    <code ngxPrismjs ngLanguage="scss">
    {{scssContent}}
    </code>
</pre>
<h3>以haml高亮显示</h3>
<code ngxPrismjs ngLanguage="haml">
    {{hamlContent}}
</code>
<h3>以typescript高亮显示</h3>
<pre>
    <code ngxPrismjs ngLanguage="typescript">
        {{typescriptContent}}
    </code>
</pre>